@import './base/base'

main
    min-height: calc(100vh - 69px - 64px)
    padding: 24px
    max-width: 496px
    margin: 0 auto

strong a
    text-decoration: none
    color: $second_hover

form
    display: flex
    flex-direction: column

label
    margin: 12px 0 4px

input,
textarea
    padding: 6px
    border: 1px solid $second

textarea
    resize: none

form button
    margin-top: 12px
    width: 124px
    border: 0
    padding: 6px 0
    background-color: $primary
    color: $second

    transition: .2s

    &:hover
        background-color: $second
        color: $primary

main img
    margin-top: 24px
    margin-left: auto
    margin-right: auto
    width: 70%
    display: block

.messages
    cursor: pointer
    position: absolute
    top: 14px
    right: 20px
    transform: translateX(150%)
    color: #000000
    transition: .25s

@media screen and ( min-width: 984px )
    .lefttab
        min-width: 346px
    main
        display: flex
        align-items: center
        max-width: 984px
    main img
        margin-top: 0
        margin-left: 50px
        width: 500px
