{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f92c596d2b.js" crossorigin="anonymous"></script>

    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/base/base.css" %}">

</head>

<body>
    <header>
        <a href="" class="logo">
            <img src="{% static "assets/images/1200px-Python-logo-notext.svg.png" %}">
            <h2>NatLuk Python</h2>
        </a>
        <a onclick="show_menu()" class="ham">
            <div></div>
            <div></div>
            <div></div>
        </a>
        <nav class="mobile_menu">
            <a onclick="show_menu()" class="ham">
                <div></div>
                <div></div>
                <div></div>
            </a>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Resources</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="">PyBin</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Rules</a></li>
                <li><a href="#">Code of Conduct</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="#">Get engaged</a></li>
                <li><a href="#">Login in</a></li>
                <li><a href="https://discord.gg/XQ3cRj2" target="_blank">Join Discord</a></li>
            </ul>
        </nav>
        <nav class="desktop_menu">
            <ul class="nav">
                <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Resources</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Projects</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Pybin</a></li>

                <li class="dropdown">

                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-expanded="false">
                        Menu
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">FAQ</a></li>
                        <li><a class="dropdown-item" href="#">Rules</a></li>
                        <li><a class="dropdown-item" href="#">Code of Conduct</a></li>
                        <li><a class="dropdown-item" href="#">Privacy</a></li>
                        <li><a class="dropdown-item" href="{% url 'contact' %}">Contact</a></li>
                        <hr>
                        <li><a class="dropdown-item" href="#">Get engaged</a></li>
                        <li><a class="dropdown-item" href="#">Login in</a></li>
                    </ul>
                </li>

                <li class="nav-item dc">
                    <a href="https://discord.gg/XQ3cRj2" target="_blank" class="nav-link dropright">
                        Join Discord
                        <i class="fas fa-chevron-right arrow"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <p>Created with ❤️ by NatLuk</p>
    </footer>

    <!-- Django built in messages -->
    {% if messages %}
    <div class="messages alert alert-primary" role="alert">
        {% for message in messages %}
        <span>{{ message }}</span>
        {% endfor %}
    </div>
    {% endif %}

    {% block scripts %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>

    <script src="{% static "assets/js/app.js" %}"></script>
</body>

</html>