{% extends "base.html" %}
{% load static %}

{% block title %}Contact · NatLuk Python{% endblock %}

{% block content %}
<div class="lefttab">
    <h1>Formularz kontaktowy.</h1>
    <p>Wyślij nam wiadomość, <strong><a href="mailto:sebastianfejsbuk@gmail.com">tutaj</a></strong> lub bezpośrednio
        poniżej</p>
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <input type="hidden" name="g-recaptcha-response">
        <button data-sitekey="{{RECAPTCHA_PUBLIC_KEY}}" data-callback='submitForm' data-action='submit'
            type="button">Wyślij!</button>
    </form>
</div>
<img src="{% static "assets/images/undraw_agreement_aajr_backup.svg" %}" alt="handshake">

{% endblock %}

{% block scripts %}
<script src="https://www.google.com/recaptcha/api.js?render={{RECAPTCHA_PUBLIC_KEY}}"></script>
<script>
    // Sending recaptcha token to backend
    document.querySelector('form button').addEventListener('click', (e) => {
        grecaptcha.ready(function () {
            grecaptcha.execute('{{RECAPTCHA_PUBLIC_KEY}}', { action: 'submit' })
                .then(function (token) {
                    document.querySelector('input[name="g-recaptcha-response"]').value = token
                    document.querySelector('form').submit()
                });
        })
    })      
</script>
{% endblock %}