<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
        }

        body {

            display: flex;
            justify-content: center;
            align-items: center;

            width: 100vw;
            height: 100vh;
        }

        .container {
            background-color: #000000;
            padding: 64px 24px;
            color: #ffffff
        }

        h1 {
            margin-bottom: 16px;
        }

        h3 {
            margin-bottom: 8px;
        }

        p {
            margin-bottom: 4px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Hello! Dear administrators...</h1>
        <h3>Sending from: {{subject}}</h3>

        <p>Username: {{username}}</p>
        <p>Email: {{email}}</p>
        <p>Message: {{message}}</p>
    </div>
</body>

</html>